{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="newsletter-signup-img">
    <div class="row ml-1">
        <div class="col-lg-6 col-sm-12 col-12">
            <h2 class="mt-2">Newsletter Signup</h2>
            <br>
            <p class="font-weight-bold">If you would like to receive news about my latest works, and any upcoming exhibitions, then you can sign up for my newsletter below.</p>
            <form class="mt-3" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-black rounded-0 float-right">Sign up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}