{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <a href="#">
                    <img class="card-img-top img-thumbnail" src="{{ piece.image.url }}" alt="{{ piece.name }}">
                </a>
            </div>
            <div class="col-6 d-flex flex-column">
                <h2>{{ piece.name }}</h2>
                <p>{{ piece.category.friendly_name }}</p>
                <p>{{ piece.technique }}</p>
                <p>{{ piece.id }}</p>
                {% if piece.is_framed %}
                    <p>Framed</p>
                {% endif %}
                <p>€{{ piece.price }}</p>
                <h3>Description</h3>
                <p>{{ piece.description }}</p>
                <form class="form" method="POST" action="{% url 'add_to_bag' piece.id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            {% if already_in_bag %}
                                <p><strong>This piece is already in your bag.</strong></p>
                            {% else %}
                                <input type="submit" value="add to bag" />
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
            
{% endblock %}
<!-- <a href="#">
    <img class="card-img-top img-thumbnail" src="{{ piece.image.url }}" alt="{{ piece.name }}">
</a>
<p>{{ piece.name }}</p> -->