{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="card-img-top img-thumbnail" src="{{ piece.image.url }}" alt="{{ piece.name }}">
                </a>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <h2>{{ piece.name }}</h2>
                <p>{{ piece.category.friendly_name }}</p>
                <p>{{ piece.technique }}</p>
                {% if piece.is_framed %}
                    <p>Framed</p>
                {% endif %}
                <p>€{{ piece.price }}</p>
                <h3>Description</h3>
                <p>{{ piece.description }}</p>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_artwork' piece.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_artwork' piece.id %}">Delete</a>
                    </small>
                {% endif %}
                <form class="form" method="POST" action="{% url 'add_to_bag' piece.id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            {% if already_in_bag %}
                                <p><strong>This piece is already in your bag.</strong></p>
                                <a class="btn btn-black float-left mr-4 mt-2 mb-2" href="{% url 'artwork' %}">Return to Gallery</a>
                                <a class="btn btn-black mt-2 mb-2" href="{% url 'view_bag' %}">Secure Checkout</a>
                            {% else %}
                                <a class="btn btn-black float-left mr-4" href="{% url 'artwork' %}">Return to Gallery</a>
                                <input class="btn btn-black" type="submit" value="Add to bag" />
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
            
{% endblock %}