html {
    height: 100%;
}

body {
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/media/background_image_placeholder.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Inter';
}

.text-black {
    color: #000 !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-text {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.remove-item {
    cursor: pointer;
}
