{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="about-img">
    <div class="row ml-1">
        <div class="col-lg-6 col-sm-12 col-12">
            <h2 class="mt-2">About</h2>
            <br>
            <p>Melbourne, Australia, born and raised, Bristol based artist. Self-taught, and inspired by the great French impressionists.</p>
            <br>
            <p>Check out my drawings, sketches, and scribblings on Instagram:</p>
            <br>
            <a href="https://www.instagram.com/johnevanart/?hl=en-gb" target="_blank" class="text-black link-secondary">
                <div><i class="fa-brands fa-instagram fa-4x"></i></div>
            </a>
        </div>
    </div>
</div>
{% endblock %}